<h2>Nouveau Post</h2>
<form [formGroup]="postForm" (ngSubmit)="onSubmitForm()">
  <div class="form-group">
    <label for="title">Titre</label>
    <input type="text" class="form-control" id="title" formControlName="title">
  </div>
  <div class="form-group">
    <label for="content">Contenu</label>
    <textarea class="form-control" id="content" formControlName="content"></textarea>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="postForm.invalid">Soumettre</button>
</form>
